@model IEnumerable<NewsModule.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Новости</h1>

<p>
    <a asp-action="Create">Создать новость</a>
</p>


@if (Model.Count() == 0)
{
    <p>There is no news!</p>
}
else
{
    <ul class="nobullet">
        @foreach (var item in Model)
        {
            <li>
                <div class="listOfArticles">
                    <div class="textBlockForArticles">
                        <a href="@Url.Action("Details", "News", new { id = item.Id })">@item.Title  </a><br />
                        @item.Annotation<br />
                        Дата публикации: @item.publishTime
                    </div>
                    
                </div>
                

            </li>
        }
    </ul>
}
